.Title {
    font-family: 'Courier New', Courier, monospace;
    font-size: xxx-large;
}

.Column {
    display:flex;
    flex-direction:column
}

.Header {
    background-color: transparent;
    border: none;
    color: red;
    margin: 20px;
    padding: 10px;
    height: 30px;
}

.HeaderActive {
    background-color: transparent;
    border: none;
    color: red;
    margin: 20px;
    padding: 10px;
    height: 30px;
    font-size: xx-large;
}

.Header:hover {
    font-size: xx-large;
}

.Navbar {
    width: 20%;
    margin: 20px;
}

.ContentList {
    width: 80%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.Row {
    display: flex;
    flex-direction: row;
}

.TopBar {
    width: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.ContentBox {
    
}

.Visible {
    visibility: visible;
}

.Invisible {
    visibility: hidden;
    position: fixed;
}

